Protocolo/Release/Protocolo.exe
Protocolo/Protocolo/Release/cl.command.1.tlog
Protocolo/Protocolo/Release/CL.read.1.tlog
Protocolo/Protocolo/Release/CL.write.1.tlog
Protocolo/Protocolo/Release/codificador.obj
Protocolo/Protocolo/Release/CodificadorTest.obj
Protocolo/Protocolo/Release/link.command.1.tlog
Protocolo/Protocolo/Release/link.read.1.tlog
Protocolo/Protocolo/Release/link.write.1.tlog
Protocolo/Protocolo/Release/mt.command.1.tlog
Protocolo/Protocolo/Release/mt.read.1.tlog
Protocolo/Protocolo/Release/mt.write.1.tlog
Protocolo/Protocolo/Release/Protocolo.exe.intermediate.manifest
Protocolo/Protocolo/Release/Protocolo.lastbuildstate
Protocolo/Protocolo/Release/Protocolo.log
Protocolo/Protocolo/Release/Protocolo.obj
Protocolo/Protocolo/Release/Protocolo.pch
Protocolo/Protocolo/Release/Protocolo.vcxprojResolveAssemblyReference.cache
Protocolo/Protocolo/Release/Protocolo.write.1.tlog
Protocolo/Protocolo/Release/protocoloDatos.obj
Protocolo/Protocolo/Release/stdafx.obj
Protocolo/Protocolo/Release/TestCodificador.obj
Protocolo/Protocolo/Release/vc100.pdb
Protocolo/Debug/Protocolo.exe
Protocolo/Debug/Protocolo.ilk
Protocolo/Debug/Protocolo.pdb
Protocolo/ipch/protocolo-c5af3568/protocolo-7688c667.ipch
Protocolo/Protocolo.opensdf
Protocolo/Protocolo/Debug/cl.command.1.tlog
Protocolo/Protocolo/Debug/CL.read.1.tlog
Protocolo/Protocolo/Debug/CL.write.1.tlog
Protocolo/Protocolo/Debug/codificador.obj
Protocolo/Protocolo/Debug/link.6864.read.1.tlog
Protocolo/Protocolo/Debug/link.6864.write.1.tlog
Protocolo/Protocolo/Debug/link.6864-cvtres.read.1.tlog
Protocolo/Protocolo/Debug/link.6864-cvtres.write.1.tlog
Protocolo/Protocolo/Debug/link.command.1.tlog
Protocolo/Protocolo/Debug/link.read.1.tlog
Protocolo/Protocolo/Debug/link.write.1.tlog
Protocolo/Protocolo/Debug/link-cvtres.read.1.tlog
Protocolo/Protocolo/Debug/link-cvtres.write.1.tlog
Protocolo/Protocolo/Debug/mt.command.1.tlog
Protocolo/Protocolo/Debug/mt.read.1.tlog
Protocolo/Protocolo/Debug/mt.write.1.tlog
Protocolo/Protocolo/Debug/Protocolo.Build.CppClean.log
Protocolo/Protocolo/Debug/Protocolo.exe.embed.manifest
Protocolo/Protocolo/Debug/Protocolo.exe.embed.manifest.res
Protocolo/Protocolo/Debug/Protocolo.exe.intermediate.manifest
Protocolo/Protocolo/Debug/Protocolo.lastbuildstate
Protocolo/Protocolo/Debug/Protocolo.log
Protocolo/Protocolo/Debug/Protocolo.obj
Protocolo/Protocolo/Debug/Protocolo.pch
Protocolo/Protocolo/Debug/Protocolo.write.1.tlog
Protocolo/Protocolo/Debug/Protocolo_manifest.rc
Protocolo/Protocolo/Debug/protocoloDatos.obj
Protocolo/Protocolo/Debug/rc.command.1.tlog
Protocolo/Protocolo/Debug/rc.read.1.tlog
Protocolo/Protocolo/Debug/rc.write.1.tlog
Protocolo/Protocolo/Debug/stdafx.obj
Protocolo/Protocolo/Debug/vc100.idb
Protocolo/Protocolo/Debug/vc100.pdb
Protocolo/Protocolo.sdf
Protocolo/Protocolo.suo
Protocolo/Release/Protocolo.pdb
